[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
jupyter = "*"
pytest = "*"
plotnine = "*"
twine = "*"
sphinx = "*"
pandas = "*"
shapely = "*"
utm = "*"
pycountry = "*"
geopandas = "*"
folium = "*"
"json2html" = "*"
json2table = "*"
pre-commit = "*"
black = "*"

[requires]
python_version = "3.6"

[dev-packages]
