[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[dev-packages]
jupyter = "*"
pytest = "*"
plotnine = "*"
twine = "*"
sphinx = "*"

[packages]
pandas = "*"
shapely = "*"
utm = "*"
pycountry = "*"
geopandas = "*"
folium = "*"
"json2html" = "*"
readme-renderer = "*"

[requires]
python_version = "3.5"
